<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex align-items-center rounded p-3 bg-gray">
                <span class="d-flex align-items-center">
                    <p class="fs-20 semibold mb-0">About Us</p>
                </span>
            </div>
        </div>
        <div class="col-12 fs-14 px-4">
            <p class="fs-14 mb-1 opacity-8 mb-3">At Mega Ludo, we believe that there’s more to fantasy Ludo, hence we created a <span style="font-weight: bold;">MORE</span> rewarding and experiential platform where everybody wins. We are obsessively passionate about it and it’s our aim to help gamers, be it a rookie or a professional, learn and earn their way to winnings, as well as be thoroughly entertained.</p>
            <p class="fs-14 mb-1 opacity-8">Our motto is to give you an experience like no other, from the moment you step into our fantasy world and until you start winning for REAL! Wishing you a great time and may you be best team owners!</p>
        </div>
    </div>
</div>
