<div class="container">
    <div class="row justify-content-center">
      <div class="row flex-column mb-4">
          <div class="col-12 mb-2  card-list">
              <div class="b-1 shadow-sm rounded px-0 ">
                  <div class="d-flex align-items-center border-bottom ">
                      <p class="fs-12 mb-0 p-2 px-3"><span class="semibold me-2">Playing for</span>  <img class="me-1" src="../../../../assets/img/money.png" height="20px" width="20px" alt="money">
                          {{battleDetails?.amount}}</p>
                      <p class="fs-12 ms-auto mb-0 p-2 px-3"><span class="semibold me-2">Prize</span>  <img class="me-1" src="../../../../assets/img/money.png" height="20px" width="20px" alt="money">
                        {{battleDetails?.winner_amount}}</p>
                  </div>
                 <div class="w-100 d-flex align-items-center">
                      <div class="w-100 row mx-auto">
                          <div  class="col-2 mx-auto d-flex align-items-center flex-column p-2 px-3">
                              <div class="small-user">
                                  <img src="../../../../assets/img/author.svg" alt="user-img">
                              </div>
                              <p class="fs-10 text-center mb-0">{{battleDetails?.gamePlayer[0]?.p_name}}eee</p>
                          </div>
                          <div class="col-8 d-flex align-items-center  semibold justify-content-center ">
                              V/S
                          </div>
                          <div  class="col-2 mx-auto d-flex align-items-center flex-column p-2 px-3">
                              <div class="small-user">
                                  <img src="../../../../assets/img/author.svg" alt="user-img">
                              </div>
                              <p class="fs-10 text-center mb-0">{{battleDetails?.gamePlayer[1]?.p_name}}eee</p>
                          </div>
                      </div>
                  </div>
                               </div>
          </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
      <!-- room code details -->
      <div class="row flex-column mb-3">
        <div class="col-12 mb-2 px-0 card-list">
            <div class="b-1 shadow-sm rounded px-0" style="background-color: rgb(185, 183, 183);">
                <div class="col-12 text-center mb-3 mt-3">
                    <p class="fs-20 bold">Room Code</p>
                </div>
                <div class="col-12 text-center mb-3" style="color: red;">
                    <h3>{{ battleDetails?.game_code }}</h3>
                </div>
                <div class="col-12 mb-3" style="justify-content: center !important;">
                    <div class="d-flex align-items-center justify-content-center py=2">
                        <button class="w-80 btn btn-primary fs-16 py-2 text-uppercase semibold  me-2" (click)="shareOnWhatsApp()"> Share in
                            Whatsapp</button>
                        <button class="w-auto btn btn-secondary fs-16 py-2 text-uppercase semibold  me-2"  (click)="copyToClipboard()"> <svg height="24px"
                                width="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>content-copy</title>
                                <path
                                    d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
                                    fill="#254399" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-12 text-center mb-3">
                    <p style="font-size: 16px;">Play ludo game in Ludo King App</p>
                </div>
            </div>
        </div>
      </div>

    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 d-flex align-items-center justify-content-center text-center mb-3">
        <button class="btn btn-primary fs-16 py-3 text-uppercase semibold mt-1 me-2" (click)="openWinModal()"> I Won</button>
        <button class="btn btn-primary fs-16 py-3 text-uppercase mt-1 semibold  me-2" (click)="openLooseModal()"> I Loose</button>
        <button class="btn btn-primary fs-16 py-3 text-uppercase mt-1 semibold  me-2" (click)="openCancelModal()"> Cancel</button>
      </div>

      <!-- game rules page -->
      <div class="row flex-column">
        <div class="col-12 mb-2  card-list">
            <div class="b-1 shadow-sm rounded">
                <div class="col-12 text-start p-1">
                    <h4 class="my-2 pt-1">Game Rules</h4>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1">
                    <p class="my-1">Room codes will accepted in classic mode only.</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1">
                    <p class="my-1">Record every game while playing.</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1">
                    <p class="my-1">For cancellation of game, video proof is necessary.</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1" style="color: red;">
                    <p class="my-1">Popular Room code के गेम play नही करने ह यदि कोई popular room code का game play के loss ho jata h तो वो उसकी अपनी गलती होगी उस game me हम कोई मदद नहीं कर सकते है।</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1" style="color: red;">
                    <p class="my-1">Important:- popular Room code देने वाले usar की id 00 कर दी जाएगी।</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1" style="color: red;">
                    <p class="my-1">कोई भी गेम में रिजल्ट सावधानी से डाले गलत रिजल्ट डालने पर गेम किलिर हो जायेगा तो उसकी जिमेदारी हमारी नही होगी।</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1">
                    <p class="my-1">50 Penality will be charged for updating wrong result.</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1">
                    <p class="my-1"> 25 Penality will be charged for not updating result.</p>
                </div>
                <hr class="m-1">
                <div class="col-12 text-start px-2 p-1" style="color: red;">
                    <p class="my-1">कृपया कैंसिल करने से पहले रूम से गेम लेफ्ट जरूर हो जाये अन्थया ऑटो प्ले होकर, आप गेम लोस्स हो सकते है। उसमे एडमिन की कोई जिम्मेदारी नही होगी।</p>
                </div>
            </div>
        </div>
      </div>


    </div>
</div>
